<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Delta State Tribes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-grid >
    <ion-row  style="justify-content: center;">
      <ion-col *ngFor="let tribe of availableTribes; let i = index" (click)="selectTribe(i)" size="5">

        <ion-card style="display: flex; align-items: center;flex-direction: column; padding: 10px;" >
          <img alt="Silhouette of mountains" src="assets/image.png" />
          <ion-card-header>
            <ion-card-title>{{tribe.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>

      </ion-col>
     
    </ion-row>
  </ion-grid>



  
</ion-content>
